<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Neptune Auction System - Categories</title>
    <link rel = "icon" th:href="@{/images/neptune.ico}">
</head>
<body>
<section>
    <a href="/">Back to Home</a>
</section>
<th:block th:insert="fragments/head_crud"></th:block>
<body class="sb-nav-fixed">
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="fragments/sidenav :: sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Categories</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="${'/admin'}">Admin</a></li>
                    <li class="breadcrumb-item active">Category</li>
                </ol>
<!--                <div class="table-title" sec:authorize="hasAuthority('ADMIN')">-->
                <div class="table-title">
                <div class="row">
                        <div class="col-sm-9">
                            <h2></h2>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-success" th:href="@{/admin/categories/create}"><i class="material-icons">&#xE147;</i>
                                <span>Add Category</span></a>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="alert-danger">
                            <span th:text="${error}">ID</span>
                        </div>
                        <table cellspacing="0" class="table table-bordered" id="dataTable"
                               th:if="${not #lists.isEmpty(categories)}" width="100%">
                            <thead>
                            <tr>
                                <th> Category ID </th>
                                <th> Category Name </th>
                                <th> Category Description </th>
                                <th> Actions </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${categories}">
                                <td><span th:text="${category.categoryId}"> Category ID </span></td>
                                <td><span th:text="${category.categoryName}"> Category Name </span></td>
                                <td><span th:text="${category.categoryDescription}"> Category Description </span></td>
                                <td>
<!--                                    <a class="edit" sec:authorize="hasAuthority('ADMIN')"-->
<!--                                       th:href="@{/categories/edit/{username}(username=${user.username})}">-->
<!--                                        <i class="material-icons" data-toggle="tooltip"-->
<!--                                           title="Edit">&#xE254;</i></a>-->
<!--                                    <a class="delete" sec:authorize="hasAuthority('ADMIN')"-->
<!--                                       th:href="@{/categories/delete/{username}(username=${user.username})}">-->
<!--                                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>-->
                                    <a class="edit" th:href="@{/admin/categories/edit/{categoryId}(categoryId=${category.categoryId})}">
                                        <i class="material-icons" data-toggle="tooltip"
                                           title="Edit">&#xE254;</i></a>
                                    <a class="delete" th:href="@{/admin/categories/delete/{categoryId}(categoryId=${category.categoryId})}">
                                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <th:block th:insert="fragments/footer :: footer"></th:block>
    </div>
</div>
<th:block th:insert="fragments/scripts"></th:block>
</body>
</html>