<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<title>Neptune Auction System</title>
<link rel = "icon" th:href="@{/images/neptune.ico}">
<th:block th:insert="fragments/head_crud"></th:block>
<body class="sb-nav-fixed">
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="fragments/sidenav :: sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Product Details</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="${'/customer/products'}">Home</a></li>
                    <li class="breadcrumb-item active">Product Detail</li>
                </ol>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header" th:text="'Product ' + *{product.getProductName()}">Product</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
                                        <div class="carousel-inner">
                                            <th:block th:each="image : *{product.getDbImages()}">
                                                <div class="carousel-item" th:attr="class=${imageStat.index == 0 ? 'carousel-item active' : 'carousel-item'}">
                                                    <img class="d-block w-100" th:src="@{'/ProductImages/' + ${image.name}}"/>
                                                </div>
                                            </th:block>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">Product Detail</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-5">Product Id</div>
                                    <div class="col-sm-7" th:text="${product.productId}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">Product Name</div>
                                    <div class="col-sm-7" th:text="${product.productName}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">Description</div>
                                    <div class="col-sm-7 text-wrap" style="width: 6rem;" th:text="${product.productDescription}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">Price</div>
                                    <div class="col-sm-7 text-wrap" style="width: 6rem;" th:text="${product.productPrice}"></div>
                                </div>

                                <div class="row" >
                                    <div class="col-sm-5" >Categories:</div>
                                    <div class="col-sm-7 text-wrap" style="width: 6rem;" th:each="category : *{product.getCategories()}" th:text="${category.categoryName}">
                                        <!--                                        <a th:href="@{'product/products/' + ${categories.categoryId}}"><span th:text="${categories}">Category</span></a>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">Upload Date</div>
                                    <div class="col-sm-7 text-wrap" style="width: 6rem;" th:text="${product.uploadDate}"></div>
                                </div>
                            </div>
                            <div class="card-body"><a th:href="@{/auction/auction(id=${product.auction.getAuctionId()})}" class="btn btn-outline-info" role="button">Biding</a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </main>
        <th:block th:insert="fragments/footer :: footer"></th:block>
    </div>
</div>
<th:block th:insert="fragments/scripts"></th:block>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/products_search}]]";
    }
    function clearCache() {
        window.location = "[[@{/products}]]";
    }
</script>
</body>
</html>
