<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<title>Neptune Auction System</title>
<link rel = "icon" th:href="@{/images/neptune.ico}">
<th:block th:insert="fragments/head_crud"></th:block>
<body class="sb-nav-fixed">
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="fragments/sidenav :: sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Products</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="${'/customer/products'}">Home</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ol>
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-9">
                            <h2></h2>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered" id="dataTable">
<!--                                   th:if="${not #lists.isEmpty(products)}" width="100%" border="1" cellpadding="10">-->
                                <thead>
                                <tr>
                                    <th>
                                        <a th:href="@{'/customer/products/' +${currentPage} + '?sortField=productId&sortDir=' + ${reverseSortDir}}" >Product ID</a>
                                    </th>
                                    <th>
                                        <a th:href="@{'/customer/products/'+${currentPage} + '?sortField=productName&sortDir=' + ${reverseSortDir}}" >Product Name</a>
                                    </th>
                                    <th>
                                        <a th:href="@{'/customer/products/'+ ${currentPage} + '?sortField=productDescription&sortDir=' + ${reverseSortDir}}" >Product Description</a>
                                    </th>

                                    <th>
                                        <a th:href="@{'/customer/products/'+${currentPage} + '?sortField=productPrice&sortDir=' + ${reverseSortDir}}" >Price</a>
                                    </th>
                                    <th>
                                        <a th:href="@{'/customer/products/'+${currentPage} + '?sortField=uploadDate&sortDir=' + ${reverseSortDir}}" >Uploaded Date</a>
                                    </th>

                                    <th>Actions</th>
<!--                                    <th>Bidding</th>-->
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="product : ${products}">
                                    <td th:text="${product.productId}">Tiger Nixon</td>
                                    <td th:text="${product.productName}">System Architect</td>
                                    <td th:text="${product.productDescription}">Edinburgh</td>
                                    <td th:text="${product.productPrice}">Edinburgh</td>
                                    <td th:text="${product.uploadDate}">Edinburgh</td>
                                    <td><a th:href="@{/customer/product(id=${product.productId})}" class="btn btn-light">View Product Details</a></td>
<!--                                    <td><a th:href="@{/auction/auction(id=${product.auction.getAuctionId()})}" class="btn btn-outline-info" role="button">Biding</a></td>-->

                                </tr>
                                </tbody>
                            </table>
                            <div>&nbsp;</div>
                            <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
                            <div>&nbsp;</div>
                            <div th:if="${totalPages > 1}">
                                Total Items: [[${totalItems}]]
                                &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

                                <a th:if="${currentPage > 1}" th:href="@{'/customer/products/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
                                <span th:unless="${currentPage > 1}" onclick="clearCache();">First</span>
                                &nbsp;&nbsp;

                                <a th:if="${currentPage > 1}" th:href="@{'/customer/products/'+${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
                                <span th:unless="${currentPage > 1}">Previous</span>

                                &nbsp;&nbsp;

                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
			                    <a th:if="${currentPage != i}" th:href="@{'/customer/products/'+ ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
			                    <span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
                                </span>

                                <a th:if="${currentPage < totalPages}" th:href="@{'/customer/products/'+${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                                <span th:unless="${currentPage < totalPages}">Next</span>
                                &nbsp;&nbsp;

                                <a th:if="${currentPage < totalPages}" th:href="@{'/customer/products/'+${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                                <span th:unless="${currentPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:insert="fragments/footer :: footer"></th:block>
    </div>
</div>
<th:block th:insert="fragments/scripts"></th:block>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/customer/products}]]";
    }
</script>

</body>
</html>
